/* Some code in this style sheet is referenced from Pavol Federl's Lights Out game
URL: https://gitlab.com/seng513/lights-out-game
 */
* {
    font-family: monospace;
    font-size: 1.3rem;
}

body {
    background-color: #ffedb3 !important;
}

.ui-mobile {
  background: transparent !important;
}

[data-role="page"] {
  background: transparent !important;
}

.ui-page.ui-page-theme-a.ui-page-active {
  background: transparent !important;
}


.card {
    background-color: #00bd65;
    background-size: cover;
    width: auto;
    height: auto;
    border: none;
    margin: 2px;
    opacity: 0.9;
}

.card:hover {
    background-color: #2bd988;
    cursor: pointer;
}

.card.flipped {
    background-color: #ffcb73;
    opacity: 1;
    transform: rotateY(0deg);
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(9, 1fr); */
    border-radius: 10px;
    padding: 5px;
    width: calc(70vh);
}

.grid > div::before {
    content: "";
    padding-bottom: 100%;
    display: block;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}

.menuButton {
    padding: 5px 0.5em;
    border: 0px solid gray;
    background-color: rgba(128, 128, 128, 0.233);
    margin: 5px;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 1em;
}

    .menuButton:hover {
        color: white;
        background: black;
    }

.gridwrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0s;
    visibility: hidden;
}

    .overlay * {
        pointer-events: none;
    }

    .overlay.active {
        visibility: visible;
    }

.overlayin {
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px black;
}

    .overlayin p {
        text-align: center;
        font-size: 1em;
    }

p.big {
    font-size: 2em !important;
}

p.darker {
    color: white;
}

.overlay.active .overlayin {
    opacity: 0.8;
}

.overlayin * {
    margin: 0px;
}

.status {
    margin-top: 5px;
    text-align: center;
    color: gray;
}


#flags > img {
    max-width: 30px;
    height: auto;
    padding: 0px 10px;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin: 5px;
}

#timer > img {
    width: 50px;
    height: auto;
    padding: 0px 10px;
}
